body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 50px;
}

.options {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.contribute-message {
    font-size: smaller;
    color: gray;
}

#timer {
    font-size: 36px;
    margin-bottom: 20px;
}

#cancelTimer {
    background-color: #af4c54;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#cancelTimer:disabled {
    background-color: #ccc; /* Цвет фона для отключенной кнопки */
    color: #666; /* Цвет текста для отключенной кнопки */
    cursor: not-allowed; /* Изменение указателя мыши для отключенной кнопки */
}

#log {
    max-height: calc(1.2em * 20); /* Высота для 20 строк */
    overflow-y: auto; /* Включить вертикальный скроллинг, если контент превышает максимальную высоту */
    background-color: #f9f9f9; /* Цвет фона */
    border: 1px solid #ddd; /* Граница */
    padding: 10px; /* Внутренний отступ */
    margin-top: 20px; /* Внешний отступ сверху */
    margin-left: 20px; /* Отступ слева */
    margin-right: 20px; /* Отступ справа */
}
