body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 50px;
}

.options {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.contribute-message {
    font-size: smaller;
    color: gray;
}

#timer {
    font-size: 36px;
    margin-bottom: 20px;
}

#cancelTimer {
    background-color: #af4c54;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#cancelTimer:disabled {
    background-color: #ccc; /* Background color for disabled button */
    color: #666; /* Text color for disabled button */
    cursor: not-allowed; /* Mouse cursor for disabled button */
}

.log {
    max-height: calc(1.2em * 20); /* Height for 20 lines */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
    background-color: #f9f9f9; /* Background color */
    border: 1px solid #ddd; /* Border */
    padding: 10px; /* Padding */
    margin-top: 20px; /* Top margin */
    margin-left: 20px; /* Left margin */
    margin-right: 20px; /* Right margin */
}

/* Скрываем крестик по умолчанию */
.log span.deleteButton {
    visibility: hidden;
}

/* Отображаем крестик при наведении мыши на строку лога */
.log div:hover span.deleteButton {
    visibility: visible;
}
