body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 50px;
}

.options {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.contribute-message {
    font-size: smaller;
    color: gray;
}

#timer {
    font-size: 36px;
    margin-bottom: 20px;
}

#cancelTimer {
    background-color: #af4c54;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#cancelTimer:disabled {
    background-color: #ccc; /* Background color for disabled button */
    color: #666; /* Text color for disabled button */
    cursor: not-allowed; /* Mouse cursor for disabled button */
}

.log {
    max-height: calc(1.2em * 20); /* Height for 20 lines */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
    background-color: #f9f9f9; /* Background color */
    border: 1px solid #ddd; /* Border */
    padding: 10px; /* Padding */
    margin-top: 20px; /* Top margin */
    margin-left: 20px; /* Left margin */
    margin-right: 20px; /* Right margin */
}

/* Styles for the circle */
.log span.deleteButton {
    visibility: hidden;
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ff7f7f;
    text-align: center;
    line-height: 14px;
    color: #4b2020;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}

/* Display the circle on hover over the cross */
.log div:hover span.deleteButton  {
    visibility: visible;
}


